.input {
  display: flex;
  justify-content: center;
  font-family: 'Barlow';
  margin: 15px 0px;
  font-size: 1.75rem;
}

.input__container {
  display: flex;
  flex-direction: column;
}

.input__field {
  width: 500px;
  height: 80px;
  margin: 10px 0px;
  padding: 18px 10px;
  border: 3px solid;
  border-radius: 10px;
  font-size: 1.5rem;
}
