.subheading__container {
  font-family: 'Barlow';
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  margin: 20px;
  padding: 20px;
}

.subheading {
  font-size: var(--font-medium);
  font-weight: 400;
}
