@import '../../styles/GlobalVariables.css';

.header {
  font-family: 'Fredoka One', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.header__heading {
  font-size: var(--font-large);
  font-weight: 400;
}

.header__subheading {
  font-size: var(--font-medium);
  font-weight: 400;
}
