.verified_users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verified_users__heading {
  text-align: center;
}

.verified_users__nodata {
  margin: 20px;
  text-align: center;
}

.input__search {
  width: 400px;
  height: 60px;
  margin: 10px 0px 30px;
  padding: 18px 10px;
  border: 3px solid;
  border-radius: 10px;
  font-size: 1.25rem;
}
