.modal__input {
  font-family: 'Barlow';
  width: 500px;
  min-height: 200px;
  margin: 10px 0px;
  padding: 18px 10px;
  border: 3px solid;
  border-radius: 10px;
  font-size: 1.5rem;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__title {
  text-align: center;
  margin: 20px 0px 40px;
  font-size: var(--font-medium-large);
}
